#language = "cpp"
#run = "problemId=1916 ; g++ -std=c++17 -o ./acmicpc.net/${problemId} ./acmicpc.net/${problemId}.cpp ; ./acmicpc.net/${problemId} ; rm ./acmicpc.net/${problemId}" 

language = "python"
run = "problemId=2991 ; python3 ./acmicpc.net/${problemId}.py"